body    {
    margin: 0;
}

nav     {
    background-color: skyblue;
    color: steelblue;
    font-size: 10px;
    width: 100%;
    position: fixed;
    padding: 8px;
}

.menu   {
    display: inline-block;
    color: plum;
    font-size:10px;
    float: right;
    margin-right: 10px;
}

#banner  {
 max-width: 360px;
}
.text   {
    text-decoration: none;
    font-size: 1rem;
}

.photo  {
    max-width: 360px;
}